@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

ul{
    list-style: none;
}
body{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #fff;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
}
.wrapper{
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(74,40,0,1) 100%);
    width: 100%;
}
.container{
    margin: 0 auto;
    padding: 30px 150px;
}
header{
    padding: 50px 0;
}
header .logo{
    text-transform: uppercase;
font-size: 29px;
font-weight: 800;
}
header nav{
float: right;
width: 50%;
z-index: 2;
position: relative;
}
header nav ul{

    display: flex;
    justify-content: space-between;

}
header nav ul li{
    display: inline-block;
}
header nav ul li a{
    color: #fff;
}
header nav ul li.active::after{
    content: '';
    display: block;
    width: 40px;
    height: 5px;
    background-color: #DC7000;
    border-radius: 20px;
    position: relative;
    top: 7px;
    left: -15px;
}
header nav ul li:not(.active):not(.nav_btn) a:hover{
    border-bottom: 5px solid #DC7000;
}

header nav ul li.nav_btn a{
background-color: #FA9021;
padding: 10px 25px;
border-radius: 6px;
}
header nav ul li.nav_btn a:hover{
    background-color: #ad7437;
    transition: all 500ms ease;
}
.hero{
    padding-bottom: 100px;
    position: relative;
    z-index: 1;
}
.hero__info{
max-width: 530px;
padding-top: 120px;
display: flex;
flex-direction: column;
}

.hero__info h2{
font-size: 20px;
color: #E87D0E;
font-weight: 700;
}

.hero__info h1{
    padding-top: 15px;
    font-size: 50px;
    font-weight: 700;
}

.hero__info p{
    padding-top: 25px;
    font-size: 16px;
    font-weight: 500;
}
.hero__btn{
    margin-top: 50px;
    padding: 15px 30px;
    background-color: #DC7000;
    border-radius: 40px;
    border: none;
    width:fit-content;
    color: #fff;
}
.hero__btn:hover{
    background-color: #ad7437;
    transition: all 500ms ease;
    cursor: pointer;
}
.hero img{
    position: absolute;
    top: -150px;
    right: 0;
}
.trending{
    padding-top: 180px;
}
.trending__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.trending__header h2{
    font-size: 31px;
    font-weight: 700;
}
.trending__header button{
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 500px;
    background-color: #25211D;
    color: #fff;
    transition: all 500ms ease;
    line-height: 187%;
}
.trending__header button:hover{
    cursor: pointer;
    transition: all 500ms ease;
    transform: scale(1.1);
}
.games{
    padding-top: 60px;
}
.games ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.games ul li{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.followers{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.news{
    padding-top: 130px;

}
.news img{
    width: 100%;
}
.news h2{
    max-width: 826px;
    text-align: center;
    margin: 0 auto;
    font-size: 35px;
    font-weight: 600;
}
.news__text{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.news__text-heading{
    font-size: 30px;
    font-weight: 700;
}
.news__text-content{
    max-width: 545px;
    font-size: 16px;
}
.services{
    background: url(/img/BG.png) no-repeat center center fixed;
    background-size: cover;
}
.services__container{
    padding: 95px 195px;
}
.services__header{
    display: flex;
    flex-direction: column;
    gap: 25px;
    text-align: center;
}
.services__header h2{
    font-size: 30px;
    font-weight: 700;
    line-height: 187%;
    max-width: 826px;
    margin: 0 auto;
}
.services__header p{
    font-size: 15px;
    max-width: 826px;
    margin: 0 auto;
}
.services__content{
    padding-top: 100px;

}
.services__content ul{
    display: flex;
    gap: 100px;
    max-width: 1045px;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;

}
.services__content ul li img{
    width: fit-content;
}
.services__content ul li{
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;

}

.projects{
    padding-top: 150px;
    text-align: center;
}

.projects__header{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;

}
.projects__header h2{
    font-size: 30px;
    font-weight: 700;
    line-height: 187%;
}
.projects__header p{
    font-size: 14px;
    max-width: 500px;
    text-align: center;
}
.projects__list img{
    max-width: 100%;
}
.projects__list{
    padding-top: 70px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 27px;
    max-width: 1170px;
    margin: 0 auto;
}

.projects__btn{
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 500px;
    background-color: #25211D;
    color: #fff;
    transition: all 500ms ease;
    line-height: 187%;
    margin-top: 70px;
}

.projects__btn:hover{
    cursor: pointer;
    transition: all 500ms ease;
    transform: scale(1.1);
}
.connection{
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 75px;
}
.connection__header{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.connection__header h2{
    font-size: 30px;
    font-weight: 700;
    line-height: 187%;
}
.connection__header p{
    font-size: 16px;
    max-width: 545px;
}

.connection__content{
    display: flex;
    padding: 40px 50px;
    background: #1C140F;
    border-radius: 20px;
    border: none;
    justify-content: space-between;
}
.connection__text{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.connection__text h3{
    font-size: 30px;
    font-weight: 600;
}
.connection__text p{
    font-size: 17px;
    max-width: 636px;
}
.connection__form{
    display: flex;
    align-items: center;

}
.connection__form input{
    width: 385px;
    padding: 14px 20px;
    border: none;
    border-radius: 8px;
    position: relative;
    display: block;
    right: -100px;
    padding-right: 120px;
}

.connection__form button{
    position: relative;
    padding: 8px 13px 8px 22px;
    border: none;
    background: #DC7000;
    border-radius: 8px;
    color: #fff;

}
.footer{
    margin-top: 160px;
    background: #070707;
    padding-bottom: 30px;
}
.footer__content{
    display: flex;
    justify-content: space-between;
    padding: 80px 120px 50px 100px;
}
.footer__logo-info{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer__logo{
    font-size: 24px;
    font-weight: 600;
}
.footer__logo-text{
    max-width: 372px;
}
.about-us{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.about-us ul{
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: #fff;
}
.about-us ul li a{
    color: #fff;
}

.contacnts{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contacnts ul{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.contacnts__info{
    max-width: 282px;
}
.social{
    display: flex;
    gap: 15px;
    align-items: end;
}
.copyright{
    padding-top: 30px;
    border-top: 1px solid #D2D2D2;
    text-align: center;
}
.copyright p{
    font-size: 13px;
}